<a href="https://colab.research.google.com/github/rohansiddam/Python-Journey/blob/main/035%20-%20Lesson%2035%20(String%20Operations%201).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 35: String Operations I

### Teacher-Student Activities

So far, we have been calling string a data-type. But technically, in Python, a string is another data structure just like a list, a tuple and a dictionary. Therefore, it means a string also stores data. Essentially, a string is an array containing some items. Any character (whether a letter, a number or a special symbol like space, brackets etc.) enclosed within double quotes (`""`) or single quotes (`''`) is considered as a string.

Since a string is a data structure, the following operations/functions applicable for lists and tuples are also applicable for strings:

1. String Length

2. String Indexing

3. String Slicing

4. Index Of An Item

5. String Concatenation

6. The `enumerate()` Function

7. The `count()` Function

Let's first quickly apply the above operations/functions on strings and then learn some new concepts about them.

---

#### Activity 1: Common Data Structure Operations on Strings

Here are the common operations or functions that can be applied to a data structure in Python.

**1. String Length:** The number of items (or characters) contained in a string.

In [ ]:
# Student Action: Create an alphanumeric string, preferably a short sentence. Also, find its length.
some_string = "On 28-04-2020, US$ 1 is equivalent to INR 75.84"
print(len(some_string))

47

**2. Indexing**: The positions occupied by the items or characters in a string.

In [ ]:
# Student Action: Print every item (or character) of the above string using a loop and the indexing method. Also, print the indices.
for i in range(len(some_string)):
  print(i, "-", some_string[i])

0 - O
1 - n
2 -
3 - 2
4 - 8
5 - -
6 - 0
7 - 4
8 - -
9 - 2
10 - 0
11 - 2
12 - 0
13 - ,
14 -
15 - U
16 - S
17 - $
18 -
19 - 1
20 -
21 - i
22 - s
23 -
24 - e
25 - q
26 - u
27 - i
28 - v
29 - a
30 - l
31 - e
32 - n
33 - t
34 -
35 - t
36 - o
37 -
38 - I
39 - N
40 - R
41 -
42 - 7
43 - 5
44 - .
45 - 8
46 - 4

**Note:** Even the spaces occupy an index because they are also a part of the string.

In [ ]:
# Student Action: Print the items of the above string in the reverse order without using negative indexing. Also, print the indices.
for i in range(len(some_string)):
  print((len(some_string)-1-i), some_string[len(some_string)-1-i])

46 4
45 8
44 .
43 5
42 7
41
40 R
39 N
38 I
37
36 o
35 t
34
33 t
32 n
31 e
30 l
29 a
28 v
27 i
26 u
25 q
24 e
23
22 s
21 i
20
19 1
18
17 $
16 S
15 U
14
13 ,
12 0
11 2
10 0
9 2
8 -
7 4
6 0
5 -
4 8
3 2
2
1 n
0 O

In [ ]:
for i in range(-5,0):
  print(i)

-5
-4
-3
-2
-1

In [ ]:
# Student Action: Print the items of the above string using negative indexing. Also, print the indices.
for i in range(-len(some_string), 0):
  print(i,"-", some_string[i])

-47 - O
-46 - n
-45 -
-44 - 2
-43 - 8
-42 - -
-41 - 0
-40 - 4
-39 - -
-38 - 2
-37 - 0
-36 - 2
-35 - 0
-34 - ,
-33 -
-32 - U
-31 - S
-30 - $
-29 -
-28 - 1
-27 -
-26 - i
-25 - s
-24 -
-23 - e
-22 - q
-21 - u
-20 - i
-19 - v
-18 - a
-17 - l
-16 - e
-15 - n
-14 - t
-13 -
-12 - t
-11 - o
-10 -
-9 - I
-8 - N
-7 - R
-6 -
-5 - 7
-4 - 5
-3 - .
-2 - 8
-1 - 4

**3. String Slicing:** A small part of string sliced out from the original string.

In [ ]:
# Student Action: Get the first 5 characters (or items) of the above string.
some_string[0:5]

'On 28'

In [ ]:
# Student Action: Get the first 5 characters (or items) of the above string in the reverse order.
some_string[4::-1]

'82 nO'

In [ ]:
new_string = some_string[0:5]

In [ ]:
new_string[::-1]

'82 nO'

In [ ]:
# Student Action: Get all the characters (or items) of the above string in the reverse order.
some_string[::-1]

'48.57 RNI ot tnelaviuqe si 1 $SU ,0202-40-82 nO'

You cannot change/replace the items of a string using the index method. For that, we have to use the `replace()` function which we will learn shortly.

In [ ]:
# Student Action: Try to replace the item at index = 3 with 'W'. You should get 'TypeError' because 'str' object does not support item assignment.
some_string[3] = 'W'

TypeError: ignored

**4. String Index:** The `index()` function returns the index at which the item is located. In case of the repeated item, it returns the index at which it appears the first time in the string. The same is true in case of a list and a tuple.

In [ ]:
# Student Action: Get the index of any item in the string that you created.
some_string.index('O')

0

**5. String Concatenation:** The process of joining two or more strings to get one string using the `+` operator is called string concatenation.

**Note:** Before the string concatenation operation, you need to ensure that the objects to be concatenated are all strings. If a data-type that needs to be concatenated is not a string then, you first need to convert it into a string using the `str()` function.

In [ ]:
# Student Action: Concatenate the following objects to get the "Jupiter has 79 known moons."
name = 'Jupiter'
planets = 79
new_string = name + " has " +  str(planets) + " known moons."
new_string

'Jupiter has 79 known moons.'

**6. The `enumerate()` Function**: It pairs the item in a string with its roll call and returns a collection of tuples.

In [ ]:
# Student Action: Apply the 'enumerate()' function on above string thrice: On top of it apply the 'list()', 'dict()' &  'tuple()' functions.
# Store all of three of them in different variables.
list1 = list(enumerate(some_string))
dict1 = dict(enumerate(some_string))
tuple1 = tuple(enumerate(some_string))

In [ ]:
print(list1)
print(dict1)
print(tuple1)

[(0, 'O'), (1, 'n'), (2, ' '), (3, '2'), (4, '8'), (5, '-'), (6, '0'), (7, '4'), (8, '-'), (9, '2'), (10, '0'), (11, '2'), (12, '0'), (13, ','), (14, ' '), (15, 'U'), (16, 'S'), (17, '$'), (18, ' '), (19, '1'), (20, ' '), (21, 'i'), (22, 's'), (23, ' '), (24, 'e'), (25, 'q'), (26, 'u'), (27, 'i'), (28, 'v'), (29, 'a'), (30, 'l'), (31, 'e'), (32, 'n'), (33, 't'), (34, ' '), (35, 't'), (36, 'o'), (37, ' '), (38, 'I'), (39, 'N'), (40, 'R'), (41, ' '), (42, '7'), (43, '5'), (44, '.'), (45, '8'), (46, '4')]
{0: 'O', 1: 'n', 2: ' ', 3: '2', 4: '8', 5: '-', 6: '0', 7: '4', 8: '-', 9: '2', 10: '0', 11: '2', 12: '0', 13: ',', 14: ' ', 15: 'U', 16: 'S', 17: '$', 18: ' ', 19: '1', 20: ' ', 21: 'i', 22: 's', 23: ' ', 24: 'e', 25: 'q', 26: 'u', 27: 'i', 28: 'v', 29: 'a', 30: 'l', 31: 'e', 32: 'n', 33: 't', 34: ' ', 35: 't', 36: 'o', 37: ' ', 38: 'I', 39: 'N', 40: 'R', 41: ' ', 42: '7', 43: '5', 44: '.', 45: '8', 46: '4'}
((0, 'O'), (1, 'n'), (2, ' '), (3, '2'), (4, '8'), (5, '-'), (6, '0'), (7, '4'), (8, '-'), (9, '2'), (10, '0'), (11, '2'), (12, '0'), (13, ','), (14, ' '), (15, 'U'), (16, 'S'), (17, '$'), (18, ' '), (19, '1'), (20, ' '), (21, 'i'), (22, 's'), (23, ' '), (24, 'e'), (25, 'q'), (26, 'u'), (27, 'i'), (28, 'v'), (29, 'a'), (30, 'l'), (31, 'e'), (32, 'n'), (33, 't'), (34, ' '), (35, 't'), (36, 'o'), (37, ' '), (38, 'I'), (39, 'N'), (40, 'R'), (41, ' '), (42, '7'), (43, '5'), (44, '.'), (45, '8'), (46, '4'))

**7. The `count()` Function:** It returns the number of times an item (or a character) appears in a string.

In [ ]:
# Student Action: Count the number of spaces in the above string.
some_string.count(" ")

8

---

#### Activity 2: Empty String & Multiline String^

A string which has no item (or character) is called an empty string. It can be created by either using single quotes or double quotes without enclosing anything between them. Not even space.

In [ ]:
# Student Action: Create an empty string. Print the string and also print its length.
empty_string = ""
print(empty_string)
print(len(empty_string))
print(type(empty_string))

0
<class 'str'>

You may require to write a very long string in multiple lines in a code cell. Such a string is called a multiline string. To create a multiline string, use three single quotes (`''' '''`) or three double quotes (`""" """`).

Here's one of the wonderful poems by Nobel Prize Winner Dr Rabindranath Tagore from this collection called Gitanjali.

```
Where the mind is without fear
and the head is held high,
where knowledge is free.
Where the world has not been broken up into fragments,
by narrow domestic walls.
Where words come out from the depth of truth,
where tireless striving stretches its arms toward perfection.
Where the clear stream of reason has not lost its way
into the dreary desert sand of dead habit.
Where the mind is led forward by thee
into ever widening thought and action.
In to that heaven of freedom, my father,
LET MY COUNTRY AWAKE!
```

The above poem has 13 lines. If we want to print it as a string in the following code cell, then we will have to create it as a multiline string.

In [ ]:
# Student Action: Create the multiline string for the above poem and print it using the 'print()' function.
long_string = """Where the mind is without fear
and the head is held high,
where knowledge is free.
Where the world has not been broken up into fragments,
by narrow domestic walls.
Where words come out from the depth of truth,
where tireless striving stretches its arms toward perfection.
Where the clear stream of reason has not lost its way
into the dreary desert sand of dead habit.
Where the mind is led forward by thee
into ever widening thought and action.
In to that heaven of freedom, my father,
LET MY COUNTRY AWAKE!"""

print(long_string)

Where the mind is without fear
and the head is held high,
where knowledge is free.
Where the world has not been broken up into fragments,
by narrow domestic walls.
Where words come out from the depth of truth,
where tireless striving stretches its arms toward perfection.
Where the clear stream of reason has not lost its way
into the dreary desert sand of dead habit.
Where the mind is led forward by thee
into ever widening thought and action.
In to that heaven of freedom, my father,
LET MY COUNTRY AWAKE!

The way you indent a multiline string is a way it gets printed in the output.

Try to create the above string with either single quotes and double quotes. You should get an error.

In [ ]:
# Student Action: Create the multiline string for the above poem and print it using the 'print()' function.
long_string_2 = "Where the mind is without fear
and the head is held high,
where knowledge is free.
Where the world has not been broken up into fragments,
by narrow domestic walls.
Where words come out from the depth of truth,
where tireless striving stretches its arms toward perfection.
Where the clear stream of reason has not lost its way
into the dreary desert sand of dead habit.
Where the mind is led forward by thee
into ever widening thought and action.
In to that heaven of freedom, my father,
LET MY COUNTRY AWAKE!"

print(long_string_2)

SyntaxError: ignored

---

#### Activity 3: Repetition^^

You can repeat a string several times by using the `*` operator. Using this concept you can create many incredible patterns such as a triangle, a rectangle, square etc.

Let's learn this concept by creating the following triangle.

```
#
##
###
####
#####
```

Here, the `#` string appears only once in the first line, twice in the second line, thrice in the third line, four times in the fourth line and five times in the fifth line.

In [ ]:
"*" * 3

'***'

In [ ]:
# Teacher Action: Create the above triangle.
for i in range(0,6):
    print("#" * i)

#
##
###
####
#####

In the above code:

- the value of `i` goes from 1 to 5.

- `i = 1`, repeats the `'#'` string only once because of `'#' * 1`.

- `i = 2`, repeats the `'#'` string twice because of `'#' * 2`

- `i = 3`, repeats the `'#'` string thrice because of `'#' * 3`

- `i = 4`, repeats the `'#'` string four times because of `'#' * 4`

- `i = 5`, repeats the `'#'` string five times because of `'#' * 5`

Now, you create the following triangle. It is a mirror image of the above triangle.

```
    #
   ##
  ###
 ####
#####
```

In [ ]:
# Student Action: Create the above triangle.
for i in range(0,6):
  print(" " * (5-i) + ("#") * i)

    #
   ##
  ###
 ####
#####

In the above code:

- the value of `i` goes from 1 to 5.

- `i = 1`, repeats the space `' '` four times because of `' ' * (5 - 1)` and the `'#'` string only once because of `'#' * 1`.

- `i = 2`, repeats the space `' '` thrice because of `' ' * (5 - 2)` and the `'#'` string twice because of `'#' * 2`

- `i = 3`, repeats the space `' '` twice because of `' ' * (5 - 3)` and the `'#'` string thrice because of `'#' * 3`

- `i = 4`, repeats the space `' '` only once because of `' ' * (5 - 4)` and the `'#'` string four times because of `'#' * 4`

- `i = 5`, repeats the space `' '` zero times because of `' ' * (5 - 5)` and the `'#'` string five times because of `'#' * 5`


Similarly, you can create many more such patterns.

**Note:** Similarly, you can also repeat the times contained in a list and in a tuple multiple times using the `*` operator.

In [ ]:
# Student Action: Create a list containing three items and repeat them twice.
list2 = [1,2,3]
list2 * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# Student Action: Create a tuple containing three items and repeat them four times.
tuple2 = (1,2,"Hi")
tuple2 * 3

(1, 2, 'Hi', 1, 2, 'Hi', 1, 2, 'Hi')

---

#### Activity 4: The `format()` Function^^^

This function is our best friend when it comes to formatting a string. Why?

Recall that in the case of the string concatenation, we have to use the `+` operator several times to get one string. Additionally, you have to beware of spaces and also have to convert a non-string data-type object to a string before concatenation. This is such a big hassle if too many strings are to be concatenated.

Similarly, while printing the values of multiple entities using the `print()` function, you have to separate them with commas. Again quite a handful tasks especially in case of long strings.

The `format()` function doesn't require that much effort to generate a clean string. It allows you to create one long string with proper punctuation and plug-in the required values at the respective places in the long string.

Let's learn this function with the help of an example. We have a CSV containing the data of the 20 professional marathon runners (men's category) who participated in Tata Mumbai Marathon (TMM) 2020.

Our task is to create a certificate for each runner using the `format()` function. The certificate should read the following:

```
Tata Mumbai Marathon 2020

      CONGRATULATIONS

This is to certify that DERARA HURISA                    
BIB No. 19
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:09
and rank 1.                   
--------------------------------------------------
```

Here's the link to the CSV file containing data for each runner:

https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/tmm-2020-race-results/TMM2020_RaceResults.csv


**How to approach this task?**

1. Create a Pandas DataFrame for the TMM 2020 professional runners (men's category).

2. Create the following string with curly brackets as placeholders:

  ```
  Tata Mumbai Marathon 2020

        CONGRATULATIONS

  This is to certify that {}                    
  BIB No. {}
  officially completed the marathon
  (distance 42.2 km)
  in the men's category
  with a finish time of {}
  and rank {}.                   
  {}
  ```

3. Iterate through each row of the DataFrame created in the first step to get the name, BIB number, race finish time and rank of a runner.

4. Fill the values in the placeholders (or curly brackets) using the `format()` function such that

      - the name of a runner goes to the first placeholder.

      - the BIB number of a runner goes to the second placeholder.

      - the race finish time of a runner goes to the third placeholder.

      - the rank of a runner goes to the fifth placeholder.

      - the 50 repetitions of the hyphen symbol goe to the last placeholder.

5. Print the prescribed certificate for each runner.

The steps 3, 4 and 5 are part of the same iteration.

In [ ]:
# Teacher Action: Create a Pandas DataFrame for the TMM 2020 runners.
import pandas as pd
cert_df = pd.read_csv("https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/tmm-2020-race-results/TMM2020_RaceResults.csv")

The first step is done. Now, let's follow the remaining steps.

In [ ]:
# Teacher Action: Print the certificates for each TMM 2020 runner in the prescribed format.
cert_df.head()

   Finish Position  BIB             NAME NATIONALITY Net Finish Time
0                1   19    DERARA HURISA         ETH         2:08:09
1                2    2    AYELE ABSHERO         ETH         2:08:20
2                3    8  BIRHANU TESHOME         ETH         2:08:26
3                4   14   JACKSON KIPROP         UGA         2:08:41
4                5   15         ABDI ALI         BHR         2:08:56

In [ ]:
cert2 = """Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that {}
BIB No. {}
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of {}
and rank {}.
{}"""

In [ ]:
for i in cert_df.index:
  print(cert2.format(cert_df.loc[i,"NAME"] , cert_df.loc[i,"BIB"] , cert_df.loc[i,"Net Finish Time"] , cert_df.loc[i,"Finish Position"] , "-" * 50))

Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that DERARA HURISA
BIB No. 19
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:09
and rank 1.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that AYELE ABSHERO
BIB No. 2
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:20
and rank 2.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that BIRHANU TESHOME
BIB No. 8
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:26
and rank 3.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that JACKSON KIPROP
BIB No. 14
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:41
and rank 4.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that ABDI ALI
BIB No. 15
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:56
and rank 5.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that PAUL MAINA
BIB No. 9
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:09:01
and rank 6.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that ABERA KUMA
BIB No. 3
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:09:15
and rank 7.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that KEBEDE WAMI
BIB No. 18
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:10:04
and rank 8.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that MERHAWI KESETE
BIB No. 12
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:10:36
and rank 9.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that BIRA SEBOKA
BIB No. 11
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:10:37
and rank 10.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that VINCENT RONO
BIB No. 7
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:11:15
and rank 11.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHUMET AKALNEW
BIB No. 10
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:13:39
and rank 12.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SRINU BUGATHA
BIB No. 51
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:18:44
and rank 13.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHER SINGH
BIB No. 56
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:00
and rank 14.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that DURGA BAHADUR BUDHA
BIB No. 53
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:03
and rank 15.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAVIPRAKASH
BIB No. 70
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:32
and rank 16.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SYLVESTER KIPTOO
BIB No. 27
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:53
and rank 17.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAHUL PAL
BIB No. 55
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:26:56
and rank 18.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that PRADEEP SINGH CHAUDHARY
BIB No. 54
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:29:27
and rank 19.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that MOHIT RATHORE
BIB No. 57
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:31:16
and rank 20.
--------------------------------------------------

As you can see, we first created a multiline string and stored it in a variable. The string contains five place holders in the form of curly brackets.

- The first place holder is created to store the name of each runner.

- The second place holder is created to store the BIB number of each runner.

- The third place holder is created to store the finish time of each runner.

- The fourth place holder is created to store the rank secured by each runner in the marathon.

- The fifth place holder is created to store the hyphen symbol (`-`).

In the same order of the place holders, we passed the values to the `format()` so that they occupy their respective places in the final string. The last value,  `'-' * 50`, that is passed to the `format()` function means that the hyphen symbol is repeated 50 times.

**Labelling Placeholders**

When there are too many placeholders to fill, you might lose a track of what value to put to what placeholder. In such cases, the better approach is to label the placeholders in such a way that they describe the values to put to the placeholders.

In [ ]:
# Teacher Action: Label the placeholders in the above code.
cert3 = """Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that {name}
BIB No. {bib}
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of {net_finish_time}
and rank {finish_position}.
{hyphen}"""

In [ ]:
for i in cert_df.index:
  print(cert3.format(name = cert_df.loc[i,"NAME"] , bib = cert_df.loc[i,"BIB"] , net_finish_time = cert_df.loc[i,"Net Finish Time"] , finish_position = cert_df.loc[i,"Finish Position"] , hyphen = "-" * 50))

Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that DERARA HURISA
BIB No. 19
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:09
and rank 1.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that AYELE ABSHERO
BIB No. 2
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:20
and rank 2.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that BIRHANU TESHOME
BIB No. 8
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:26
and rank 3.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that JACKSON KIPROP
BIB No. 14
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:41
and rank 4.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that ABDI ALI
BIB No. 15
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:08:56
and rank 5.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that PAUL MAINA
BIB No. 9
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:09:01
and rank 6.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that ABERA KUMA
BIB No. 3
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:09:15
and rank 7.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that KEBEDE WAMI
BIB No. 18
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:10:04
and rank 8.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that MERHAWI KESETE
BIB No. 12
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:10:36
and rank 9.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that BIRA SEBOKA
BIB No. 11
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:10:37
and rank 10.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that VINCENT RONO
BIB No. 7
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:11:15
and rank 11.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHUMET AKALNEW
BIB No. 10
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:13:39
and rank 12.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SRINU BUGATHA
BIB No. 51
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:18:44
and rank 13.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHER SINGH
BIB No. 56
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:00
and rank 14.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that DURGA BAHADUR BUDHA
BIB No. 53
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:03
and rank 15.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAVIPRAKASH
BIB No. 70
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:32
and rank 16.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SYLVESTER KIPTOO
BIB No. 27
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:24:53
and rank 17.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAHUL PAL
BIB No. 55
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:26:56
and rank 18.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that PRADEEP SINGH CHAUDHARY
BIB No. 54
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:29:27
and rank 19.
--------------------------------------------------
Tata Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that MOHIT RATHORE
BIB No. 57
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 2:31:16
and rank 20.
--------------------------------------------------

As you can see, we have labelled the placeholders with the to determine which value to assign to which placeholder. Then, using the `format()` function, we have assigned the values to their respective placeholders.

**Syntax:** `string.format(placeholder1 = value1, placeholder2 = value2, ..., placeholderN = valueN)` where `N` is the number of values to assign or the number of placeholders to fill.

We will pause here now and will continue learning the remaining string operations in the next class.

---